{% extends "base.html" %}

{% block title %}
TechVerse - LogIn
{% endblock %}

{% block content %}
<div class="container-sm text-center my-5" style="background-color: white; height=100%">
    {% for errors in form.errors.values() %}
    <div class="alert alert-danger">
        {{ errors[0] }}
    </div>
    {% endfor %}
    <h3> Welcome Back! </h3>
    <h6> Log-In To Visit Pages </h6>
    <hr>
    <form method="POST" class="p-5">
        {{ form.hidden_tag() }}
        <div class="row">
            {{form.username(class="form-control my-2" , placeholder=form.username.label.text)}}
        </div>
        <div class="row">
            {{form.password(class="form-control my-2" , placeholder=form.password.label.text)}}
        </div>
      
        <div class="row">
            {{form.login(class="btn btn-primary")}}
        </div>

    </form>
    <br>
    <hr>
</div>
    {% endblock%}
